<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="card">
    <div class="card-body">
        <h5 class="card-title">SIGN UP</h5>
        <div class="underline"></div>
        <form >
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <img class="icons" src="/./assets/icons8-contacts.svg" width="20px" height="20px" type="icons">
                <input type="text" class="form-control" id="validationCustom01" placeholder="Name"  required><br>
              </div>
      </div>
      <div class="form-row">
          <div class="col-md-12 mb-3">
              <img class="icons" src="/./assets/icons8-secured-letter-50.png" width="20px" height="20px" type="icons">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Email"  required><br>
          </div>
  </div>
  <div class="form-row">
      <div class="col-md-12 mb-3">
          <img class="icons" src="/./assets/icons8-lock.svg" width="20px" height="20px" type="icons">
        <input type="text" class="form-control" id="validationCustom01" placeholder="Password"  required><br>
      </div>
</div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Get started</button><br>
            <p>Already have an account?<a href="">Sign in</a></p>
          </form>


    </div>
  </div>
  <div class="whole"><div class="contain2">


    </div>
       <div class="contain">


      </div>
      <div class="contain3">


      </div>
      <div class="contain4">


      </div>
    </div>
