<body>
   <div class="body">
     <label></label>
<div class="container">

  <div class="wrapper">
      <img class="icons" src="/./assets/icons8-menu.svg" width="20px" height="20px" type="icons">
      <app-orange></app-orange>

      <app-signup></app-signup>

    </div>
    <div class="whole"><div class="contain2">


    </div>
       <div class="contain">


      </div>
      <div class="contain3">


      </div>
      <div class="contain4">


      </div>
    </div>
      <div class="footer">
<a href="">&copy;Copyright2016</a>
</div>
  </div>
</div>
</body>
<router-outlet></router-outlet>
